.Contact {
    
    background-image: linear-gradient(to right top, #090909, #141414, #1b1b1b, #222222, #2a2a2a, #2b2b2b, #2b2b2b, #2c2c2c, #262626, #202020, #1a1a1a, #141414);
    /*
    background-color: black;
    height: 1200px;
    */ 
    padding-bottom: 100px;
}

.ContactHeading {
    margin: -10px 3px 0px 0px;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.ContactSection {
    padding-top: 100px;
}

div > section > h2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-bottom: 30px;
}

.ContactSection > a > button {
    margin-top: 20px;
    padding: 14px 10px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1361F5;
    border: none;
    color: white;
}

.ContactSection > a > button:hover {
  background-color: #3c7cf2;
  color: white;
    cursor: pointer;
}

.LocationSection {
  padding-top: 50px;
}

.LocationIframe {
  height: 300px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .LocationIframe {
    width: 272px;
  }

  }
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .LocationIframe {
    width: 572px;
  }

  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .LocationIframe {
    width: 780px;
  }

  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .LocationIframe {
    width: 780px;
  }

  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .LocationIframe {
    width: 780px;
  }

  } 