.Course {
    
    background-image: linear-gradient(to right top, #141e17, #101f1d, #111f22, #151f25, #1c1e26, #1c1d24, #1c1c23, #1c1b21, #17191f, #12171c, #0d1518, #071214);
    /*
    background-color: black;
    */
    color: blanchedalmond;
    height: 1200px;
}

.CourseHeading {
    margin: -10px 3px 0px 0px;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

.CourseSection {
    padding-top: 200px;
}

div > section > h2 {
    color: rgb(161, 238, 18);
    font-weight: 600;
}

.CourseSection > a > button {
    padding: 10px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}

.CourseSection > a > button:hover {
    background-color: rgb(86, 252, 61);
    color: rgb(3, 3, 3);
    border: 2px solid rgb(1, 128, 255);
    cursor: pointer;
}