.Education{
    background-image: linear-gradient(to right top, #191c1a, #151918, #121616, #0f1214, #0c0d10, #0c0d10, #0d0c10, #0d0c10, #0f1114, #111417, #13181a, #151b1c);
    color: white;
    height: 1200px;
}

.courseDetails2{
    padding-top: 5px;
}

.EducationHeading {
    margin: -5px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

.EducationSection {
    padding-top: 200px;
}

div > section > h2 {
    color: black;
    font-weight: 600;
}