.Experience{
    
    background-image: linear-gradient(to right top, #051a0e, #021c19, #071d21, #111e26, #1b1e27, #1c1e26, #1d1d26, #1e1d25, #181c24, #111b22, #0a191f, #03181a);
    /*
    background-color: black;
    height: 1200px;
    */
    color:rgb(255, 255, 255);
    padding-bottom: 100px;
}

.title{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.ExperienceDetails{
    padding-bottom: 5px;
}

.ExperienceHeading{
    background-color: rgb(255, 255, 255);
    color: blue;
    margin: -2px 0px 0px 0px;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

.ExperienceSection {
    padding-top: 100px;
}

p {
    padding: 0px 20px 0px 20px;
    color: white;
}

div > section > h2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.SubHeading {
    padding-bottom: 20px;
}