.Experience{
    background-image: linear-gradient(to right top, #2c87ff, #00a6ff, #00bcec, #00cbc2, #4bd598, #63d493, #76d290, #85d18d, #59c89f, #2bbcae, #00afb9, #12a0bd);
    color: black;
    padding: 2px 0px 20px 0px;
    height: 1200px;
}

.title{
    font-size: 28px;
    color: rgb(244, 16, 225);
    font-style: italic;
}

.ExperienceDetails{
    padding-bottom: 5px;
}

.ExperienceHeading{
    background-color: rgb(255, 255, 255);
    color: blue;
    margin: -2px 25px 0px 25px;
    border-radius: 8px;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

.ExperienceSection {
    padding-top: 150px;
}

p {
    padding: 0px 200px 0px 200px;
}

div > section > h2 {
    color: black;
    font-weight: 600;
}