/*

.FloatingSection {
    background-color: azure !important;
    padding-right: -50px;
}

.link1, .link2 {
    background-color: azure;
}

.FloatingButton {
    background-color: white !important;
    cursor: pointer;
}

*/