.Footer {
    background-color: azure;
    display:flexbox;
    padding-right: 70px;
}

.FooterSection {
    display: flex;
    justify-content:space-between;
    display: flex;
}

.FooterSection > a {
   background-color:chartreuse;
   justify-content: center;
   justify-items: center;
   padding: 10px 14px 0px 8px;
   cursor: pointer;
}

.FooterSection > a > img {
    height: 30px;
    width: 30px;
    padding: 5px;
    justify-content: right;
    justify-items: flex-end;
}

.FooterSection > a:hover {
    background-color: #d51686;
}


.Copyright {
    text-align: center;
    padding-right: 100px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Footer {
        padding-inline: 180px;
    }
    
    .FooterSection {
        justify-content:center;
    }
    
    .Copyright {
        text-align: center;
        padding-left: 80px;
    }

    .FooterSection > a {
        padding-right: 50px;
        margin-right: 20px;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 