.Footer {
    background-color: azure;
    display:flexbox;
    padding: 25px 70px 10px 0px;
}

.FooterSection {
    display: flex;
    justify-content:space-around;
}

.FooterSection > a {
   background-color:rgb(21, 255, 80);
   justify-content: center;
   justify-items: center;
   padding: 8px 14px 0px 6px;
   cursor: pointer;
   border: 2px double black;
   
}

.FooterSection > a > img {
    height: 30px;
    width: 30px;
    padding: 5px;
    justify-content: right;
    justify-items: flex-end;
}

.FooterSection > a:hover {
    background-color: #d51686;
}


.Copyright {
    justify-content: center;
    text-align: center;
    padding-left: 80px;
    margin: -20px 0px -10px 0px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .Footer {
        padding-inline: 20px;
        margin-left: -50px;
    }
    .FooterSection {
        justify-content: space-between;
    }

    .FooterSection > a {
        padding-right: 10px;
        margin-right: 10px;
     }

     .Copyright {
        margin: 10px 0px -10px -25px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Footer {
        padding-inline: 20px;
        margin-left: -40px;
    }
    
    .Copyright {
        margin: 10px 0px -10px -35px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Copyright {
        margin: 10px 0px -10px -35px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Copyright {
        margin: -10px 0px -10px -30px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Copyright {
        margin: -5px 0px -10px -30px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1720px) {
    .Copyright {
        margin: 0px 0px -10px -40px;
    }

    .FooterSection {
        justify-content:space-evenly ;
        padding-left: 695px;
    }

    .FooterSection > a {
        margin-left: 500px;
        
     }

} 