.Intro{
    /*
    background-image: linear-gradient(to right top, #204530, #073c38, #05323a, #122734, #191d28, #181b24, #17181f, #16161b, #16191e, #171c20, #191f22, #1b2223);
   
    background-color: black;
    height: 1200px;
    */

    background: url('./MdJahidHasan.png');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 304px 400px;
    background-position-x: center;
    background-position-y: 105px;
    padding-bottom: 100px;
}
  
  
  #Name{
    font-size: 48px;
    color: azure;
    padding-top: 384px;
  }
  
  .Profession{
    color:cornsilk;
    margin-top: -30px;
  }

  .Motto {
    color: aliceblue;
  }
  
  .ProfileAbout {
    padding-inline: 55px;
    color:powderblue;
    font-size: 24px;
  }
  
  .ProfileSection {
    /*
    display: flex;
    float: left;
    padding: 0px 500px;
    justify-content: space-between;
    */
  }
  
  .ProfilePhoto {
    clip-path: inset(100% 100% 100% 100%);
    /*
      clip-path: circle(50%);
      */
    border: 8px ridge rgb(255, 255, 255);
  }

  .ServicesHeading {
    padding: 20px 0px 0px 0px;
    color: orange;
  }
  .Services {
    color: azure;
    margin-top: -10px !important;
    padding-inline: 55px;
  }
  
  /*
  
  .FollowMe {
    color: white;
    font-size: 32px;
  }
  
  .FollowMe > a > button {
    margin-inline: 10px;
    padding: 10px;
    width: 200px;
    font-size: 24px;
    color: rgb(12, 12, 12); 
  }
  
  
  .FollowMe > a > button:hover {
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: orangered;
    border: 2px solid white;
    cursor: pointer;
  }
  
  */
  
  .TopDownload {
    padding-top: 0px;
  }
  
  .TopDownload > a > button {
    margin-inline: 10px;
    padding: 14px 12px;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(33, 30, 30);
    background-color: #1361F5;
    color: white;
  }

  .TopDownload > a > button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .TopDownload > a > .UniqueButton {
    margin-inline: 10px;
    padding: 14px 12px;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  .TopDownload > a > .UniqueButton:hover {
    background-color: #1361F5;
    border: 1px solid rgb(33, 30, 30);
    color: white;
    cursor: pointer;
  }

   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {
    .Intro {
      background-position-y: 880px;
    }

    .TopDownload > a > button {
      margin-top: 20px;
    }


    .FollowMe > a > button {
      margin-top: 20px;
    }

    .ProfileSection {
      padding-top: 100px;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Intro {
    background-position-y: 420px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 140px;
  }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Intro {
    background-position-y: 410px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 140px;
  }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Intro {
    background-position-y: 330px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 350px;
  }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Intro {
    background-position-y: 320px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 350px;
  }
  } 

 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1720px) {
  .Intro {
    background-position-y: 130px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 140px;
  }
  }  