.Intro{

    /*
    background-image: linear-gradient(to right top, #204530, #073c38, #05323a, #122734, #191d28, #181b24, #17181f, #16161b, #16191e, #171c20, #191f22, #1b2223);
   
    background-color: black;
    height: 1200px;
    */

    background: url('./MdJahidHasan.png');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 304px 400px;
    background-position-x: center;
    background-position-y: 105px;
    padding-bottom: 100px;
}
  
  
  #Name{
    font-size: 48px;
    color:blanchedalmond;
    padding-top: 384px;
  }
  
  .Profession{
    color:cornsilk;
    margin-top: -30px;
  }
  
  .ProfileAbout {
    padding: 0px 20px 0px 20px;
    color:powderblue;
    font-size: 24px;
  }
  
  
  .ProfilePhoto {
    clip-path: inset(100% 100% 100% 100%);
    /*
      clip-path: circle(50%);
      */
    border: 8px ridge rgb(255, 255, 255);
  }
  
  .FollowMe {
    color: white;
    font-size: 32px;
  }
  
  .FollowMe > a > button {
    margin-inline: 10px;
    padding: 10px;
    width: 200px;
    font-size: 24px;
    color: rgb(12, 12, 12); 
  }
  
  
  .FollowMe > a > button:hover {
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: orangered;
    border: 2px solid white;
    cursor: pointer;
  }
  
  .TopDownload {
    padding-top: 20px;
  }
  
  .TopDownload > a > button {
    margin-inline: 10px;
    padding: 16px;
    width: 200px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }

  .TopDownload > a > button:hover {
    background-color: orangered;
    color: white;
    border-radius: 8px solid rgb(255, 252, 252);
    cursor: pointer;
  }



   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {
    .Intro {
      background-position-y: 680px;
    }

    .TopDownload > a > button {
      margin-top: 20px;
    }


    .FollowMe > a > button {
      margin-top: 20px;
    }

    .ProfileSection {
      padding-top: 120px;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Intro {
    background-position-y: 350px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 140px;
  }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Intro {
    background-position-y: 240px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 140px;
  }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Intro {
    background-position-y: 220px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 280px;
  }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Intro {
    background-position-y: 220px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 260px;
  }
  } 

 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1720px) {
  .Intro {
    background-position-y: 140px;
  }

  .TopDownload > a > button {
    margin-top: 20px;
  }


  .FollowMe > a > button {
    margin-top: 20px;
  }

  .ProfileSection {
    padding-top: 160px;
  }
  }  