.IconsSection {
    padding: 10px 0px 5px 50px;
}

.IconsSection > a {
    margin-left: -10px;
}

.IconsSection > a > img:hover {
    height: 32px !important;
    width: 32px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .IconsSection > a {
        margin-left: -15px;
        float: none;
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .IconsSection {
        padding: 10px 20px 5px 0px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .IconsSection {
        padding: 10px 30px 5px 0px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .IconsSection {
        padding: 10px 100px 5px 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .IconsSection {
        padding: 10px 20px 5px 0px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1720px) {
    .IconsSection {
        padding: 10px 0px 5px 50px;
    }
} 