.Language{
    background-image: linear-gradient(to right top, #d16bc3, #f1789e, #f49488, #e9b189, #dbcba0, #d6d2a5, #d1d9ac, #cbe0b5, #c3dba0, #bdd689, #b9d071, #b6ca58);
    padding: 10px 30px 20px 0px;
    color: rgb(14, 14, 14);
    height: 1200px;
    font-size: 24px;
}

.LanguageHeading{
    background-color: rgb(254, 254, 254);
    margin: -10px 5px 0px 25px;
    color: blue;
    border-radius: 8px;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
    padding-bottom: 4px;
}

ul{
    justify-content: center;
    text-align: center;
}

li{
    list-style: none;
    padding: 5px;
}

.LanguageSection {
    padding-top: 250px;
}