.Language{
    background-image: linear-gradient(to right top, #0d130e, #091210, #071011, #080d10, #090a0e, #0a0a0f, #0b0b10, #0c0b11, #0c0f15, #0a1219, #07151b, #04181c);
    color: rgb(255, 255, 255);
    height: 1200px;
    font-size: 24px;
}

.LanguageHeading{
    background-color: rgb(254, 254, 254);
    margin: -10px 5px 0px 25px;
    color: blue;
    border-radius: 8px;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
    padding-bottom: 4px;
}

ul{
    justify-content: center;
    text-align: center;
}

li{
    list-style: none;
    padding: 5px;
}

.LanguageSection {
    padding-top: 250px;
}

div > section > h2 {
    color: rgb(255, 252, 252);
    font-weight: 600;
}