img {
  padding: 8px 0px 5px 10px;
  margin: 0px 0px 0px 10px;
}

.NavigationBar {
    display: flex;
    overflow: hidden;
    background-color: azure;
    width: 100%;
  }
  
  .NavigationBar > ul  {
    align-items: left;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;
    margin: 5px;
  }

  .NavigationBar > ul > li {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    flex-direction: left;
    text-align: left;
  }
  
  .NavigationBar > ul > li > a {
    padding: 15px 20px;
    float: left;
    display: block;
    text-align: center;
    cursor: pointer; 
    color: black;
  }
  
  .NavigationBar > ul > li > a:hover {
    border-radius: 20px;
    background-color: orangered;
    border-radius: 28px;
    cursor: pointer; 
    color: honeydew;
  }
  
  .Active {
    border-radius: 5px;
    background-color: orangered;
    margin-left: 35px;
    border-radius: 28px;
    cursor: pointer; 
    color: honeydew !important;
  }

  .Active:hover {
    background-color: rgb(246, 135, 94) !important;
    /*
    background-color: #d51686 !important;
    */
    color: honeydew !important;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
      .NavigationBar > ul > li > a {
        float: none;
        text-align: center;
        padding-left: 15px;
        margin-left: 15px;
        justify-content: center;
        justify-items: center;
      }

      .Active {
        margin: 20px 0px 0px 10px;
      }

      .NavigationBar {
        display: flex;
        overflow: hidden;
        padding: 2px 200px 0px 0px !important;
        float: none;
        flex-direction: column;
        margin-left: -25px !important;
      }

      img {
        padding: 8px 0px 5px 10px;
        margin: 0px 0px 0px 10px;
      }

      .LogoImage {
        padding-left: 45px;
      }
    }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .NavigationBar > ul > li > a {
      margin-top: 10px; 
    }

    .NavigationBar {
      display: flex;
      overflow: hidden;
      padding: 2px 30px 0px 0px;
      float: none;
      flex-direction: column;
    }

    .LogoImage {
      padding: 8px 0px 5px 10px;
      margin: 0px 0px 0px -22px;
    }

    }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .LogoImage {
      padding: 8px 0px 5px 10px;
      margin: 0px 0px 0px -22px;
    }
    }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .NavigationBar {
      position: fixed;
      width: 100%;
      padding: 2px 40px 0px 40px;
    }

    .NavigationBar > ul > li > a {
      padding: 15px 20px;
      float: left;
      display: flex;
      text-align: center;
      cursor: pointer; 
      color: black;
    }

    .LogoImage {
      padding: 8px 0px 5px 10px;
      margin: 0px 0px 0px -90px;
    }
    }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .NavigationBar {
      position: fixed;
      width: 100%;
      padding: 2px 60px 0px 0px;
    }

    .LogoImage {
      padding: 8px 0px 5px 10px;
      margin: 0px 0px 0px -20px;
    }
    } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1720px) {
    .NavigationBar {
      position: fixed;
      flex-direction: row;
      width: 100%;
      padding: 2px 40px 0px 40px;
    }

    .NavigationBar > ul > li > a {
      margin-top: 0px; 
    }

    .LogoImage {
      padding: 8px 0px 5px 10px;
      margin: 0px 0px 0px 10px;
    }
  
  }   