.NavigationBar {
    height: 110px;
  }
  
  .NavigationBar > ul  {
    align-items: left;
    justify-content: space-between;
    text-align: left;
  }

  .NavigationBar > ul > li {
    font-size: 24px;
    font-weight: bold;
    display: inline;
    flex-direction: left;
    text-align: left;
  }
  
  .NavigationBar > ul > li > a {
    padding: 15px 30px 15px 30px;
    cursor: pointer; 
  }
  
  .NavigationBar > ul > li > a:hover {
    font-size: 24px;
    border-radius: 20px;
    background-color: #ff683a;
    padding: 15px 30px 15px 30px;
    border-radius: 28px;
    cursor: pointer; 
  }
  
  