.Projects {
    
    background-image: linear-gradient(to right top, #090909, #0d1318, #071b22, #002325, #002b20, #002c21, #012c21, #012d22, #002729, #0c2027, #15191f, #141414);
    /*
    background-color: black;
    height: 1500px;
    */
    color: thistle;
    padding-bottom: 100px;
}

.ProjectsHeading {
    margin: -10px 3px 0px 0px;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.ProjectsSection {
    padding-top: 100px;
}

div > section > h2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

div > section > p {
    color: wheat;
}

div > a > button {
    margin-inline: 10px;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

div > a > button:hover {
    background-color: orangered;
    color: white;
    border: 2px solid rgb(92, 187, 20);
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div > a > button {
        margin-top: 20px;
  }

    .ProjectIframe {
        height: 240px;
        width: 320px;
  }

  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .ProjectIframe {
        width: 560px;
    }


  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .ProjectIframe {
        width: 720px;
    }

  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .ProjectIframe {
        width: 800px;
    }

  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .ProjectIframe {
        width: 800px;
    }


  } 