.Skill{
    background: linear-gradient(90deg, rgba(131,58,180,1) 16%, rgba(253,29,29,1) 51%, rgba(252,176,69,1) 85%); 
    padding: 10px 30px 20px 0px;
    color:rgb(251, 251, 251);
    height: 1200px;
    font-size: 24px;
}

.SkillHeading{
    background-color: rgb(255, 255, 255);
    margin: -10px 5px 0px 25px;
    color: blue;
    border-radius: 8px;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

ul{
    justify-content: center;
    text-align: center;
}

li{
    list-style: none;
    padding-top: 10px;
}

.SkillSection {
    padding-top: 200px;
}

