.Skill{
    
    background-image: linear-gradient(to right top, #0e1812, #051917, #00191e, #031824, #101526, #121425, #141424, #151323, #0d1421, #07151d, #051419, #081314);
    /*
    background-color: black;
    height: 1200px;
    */
    color:rgb(251, 251, 251);
    font-size: 24px;
    padding-bottom: 100px;
}

.SkillHeading{
    background-color: rgb(255, 255, 255);
    margin: -10px 0px 0px 0px;
    color: blue;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

ul{
    justify-content: center;
    text-align: center;
    align-items: normal;
}

li{
    list-style: none;
    padding-top: 10px;
}

.SkillSection {
    padding-top: 100px;
}

div > section > h2 {
    color: black;
    font-weight: 600;
}