.Test {
    
    background-image: linear-gradient(to right top, #0b200f, #001e19, #001c20, #001722, #0c121f, #0f111e, #11111e, #13101d, #0f1421, #091824, #041c25, #021f25);
    /*
    background-color: black;
    height: 1200px;
    */
    color: rgb(124, 203, 33);
    padding-bottom: 100px;
}

.TestHeading {
    margin: -10px 3px 0px 0px;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-size: 32px;
    box-shadow: 5px 5px 1px 5px black;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.TestSection {
    padding-top: 100px;
}

div > section > h2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.TestSection > a > button {
    padding: 14px 10px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: orangered;
    border: none;
    color: white;
}

.TestSection > a > button:hover {
    background-color: rgb(246, 135, 94);
    color: white;
    cursor: pointer;
}