.App {
  text-align: center;
  color: rgb(20, 20, 20);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.SkillDiv{
  margin:0;
  padding: 0;
}

.dateOfBirth {
  margin-bottom: 0;
  color: white;
}

.Intro{
  background-image: linear-gradient(to right top, #204530, #073c38, #05323a, #122734, #191d28, #181b24, #17181f, #16161b, #16191e, #171c20, #191f22, #1b2223);
  padding-bottom: 16px;
  height: 1200px;
}

#Name{
  font-size: 48px;
  color: rgb(255, 255, 255);
}

.Profession{
  color:snow;
}

marquee {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 0px 5px 0px;
}

.About {
  padding: 0px 400px 0px 400px;
  color: whitesmoke;
}