.App {
  scroll-behavior: smooth;
  text-align: center;
  color: rgb(20, 20, 20);

  /*
  background-color: black;
  */

  background-image: linear-gradient(to right top, #204530, #073c38, #05323a, #122734, #191d28, #181b24, #17181f, #16161b, #16191e, #171c20, #191f22, #1b2223);  
}

.SkillDiv{
  margin:0;
  padding: 0;
}

